services:
  - type: web
    runtime: node
    name: increase-demo
    buildCommand: pnpm install && pnpm build
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 20
